@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body{
    background-image: url(../imagenes/Background.png);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 225, 194);
    font-size: 25px;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 5000px;
    max-width: 1400px;

    margin-top: 20px;
    padding-top: 10px;
    
    background-color: rgb(255, 235, 214);
    
    border-radius: 20px;


    /*box-sizing: border-box;MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA*/
}

img {
    width: 100%;
    height: auto;
    max-width: 596px;
    min-width: 260px;
}

header {
    width: 95%;
    top: 0;
}

figure {
    display: flex;
    justify-content: center;
}