@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body{
    background-image: url(../imagenes/Background.png);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 225, 194);

}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 5000px;
    max-width: 1400px;

    margin-top: 20px;
    padding-top: 10px;
    
    background-color: rgb(255, 235, 214);
    
    border-radius: 20px;


    /*box-sizing: border-box;MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA*/
}

img {
    width: 100%;
    max-width: 596px;
    min-width: 260px;
}

header {
    width: 95%;
    top: 0;
}

figure {
    display: flex;
    justify-content: center;
}

nav {
    position: sticky; 
    top: 0;
    background-color: rgb(217, 195, 171);
    border-radius: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 20%;
    height: 50px;
}

li~li {

    border-left: 2px solid black;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    

    font-size: 25px;
    color: black;
    text-decoration: none;
    font-family: 'Lobster Two';
}

@media screen and (max-width: 740px){
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 540px){
    .container{
        background-color: black;
    }
}

/*
@media screen and (max-width: 800px){MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA MIRAR YAAA   
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
    }
}
*/